:root {
  --gray-50: #f9fafb;
  --gray-800: #1f2937;

  --sky-500: #0ea5e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-50);
  color: var(--gray-800);
  -webkit-font-smoothing: antiaLiased;
  max-width: 100vw;
}

body, button, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.main div h1 {
  color: var(--sky-500);
  padding-top: 2rem;
}